<h1>Edit User Role</h1>
<%= render 'form', user_rolles: @user_rolles %>

<%= link_to 'show', @user_rolles, :class => "btn btn-primary btn-sm", :style => "color: white" %>
<%= link_to 'back', user_rolles_path, :class => "btn btn-primary btn-sm", :style => "color: white" %>