<p id="notice"><%= notice %></p>

    <p>
      <strong>User Email</strong>
      <%= @user_rolle.email%>
    </p>
    <p>
      <strong>User Role</strong>
      <%= @user_rolle.role %>
    </p>
    
