
    <div class="container pt-4">
      <!-- about -->
      <div id="about" class="row">
        <div class="col-lg order-lg-1">
          <p>Domestic violence is a pattern of coercive behaviors that involves physical abuse or the threat of physical abuse. </p>
          <p>It also may include repeated psychological abuse, assault, progressive social isolation, deprivation, intimidation or economic coercion. </p>
          <p>Domestic violence is perpetrated by adults or adolescents against their intimate partners in current or former dating, married or cohabiting relationships of heterosexuals, gay men and lesbians, bisexuals and transgendered people.</p>
          <img class="mb-4 img-fluid rounded d-none d-sm-block" src="/assets/loveisnotabusive.jpeg" alt="Stages of DV" >
        </div>
        <div class="col-lg order-lg-2">
          <h3 class="mb-4">Purpose of this App</h3>
          <img class="mb-4 img-fluid rounded d-none d-sm-block" src="/assets/loveshoulnothurt.jpg" alt="YOU ARE NOT ALONE" >
          <%# <%= image_tag ('/assets/header-bg.jpg'), class: 'product-image__img' %>
          <p>Domestic violence cases have been experienced an increase rate with the shelter in place.</p>
          <p>In this app you will be able to find some resources available. You can discover new resources and volunteers of people from the community that want help you with any situation you could be facing.</p>
            <p>You are not alone. You will be able to find resources from agencies and some good samaritans in the society will be able to register as volunteers.</p>
        </div> 
      </div>
    </div>
    <div>
      <p>
      This application was created by <a style = none href="https://www.codethedream.org/">Code The Dream Students</a>
      with mentor John McGarvey:
      </p>
      <ul style="list-style-type: none">
        <li>Elena Aiupova</li>
        <li>Adriana Cabrera (application originator)</li>
        <li>Natalia Markova</li>
        <li>Oksana Weigand-Suminski</li>
      </ul>
    </div>  
  

