<div class="container pt-4">
  <h1>Healthy Relationship Quiz</h1>
</div>
<div>
  <h6>
  Everyone deserves to be in a safe and healthy relationship. Do you know if your relationship
  is healthy? Answer yes or no to the following questions to find out. Make sure to check
  the boxes to record your responses. At the end, you’ll find out how to score your answers.
  </h6>
</div>

<form>
  <table>
    <thead>
      <tr>
        <th>THE PERSON I’M WITH</th>
        <th>Yes</th>
        <th>No</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1. Is very supportive of things that I do.</td>
        <td>
          <input name="x1" type="radio" value="yes">
        </td>
        <td>
          <input name="x1" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td>2. Encourages me to try new things.</td>
        <td>
          <input name="x2" type="radio" value="yes">
        </td>
        <td>
          <input name="x2" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td>3. Likes to listen when I have something on my mind.</td>
        <td>
          <input name="x3" type="radio" value="yes">
        </td>
        <td>
          <input name="x3" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td>4. Understands that I have my own life too.</td>
        <td>
          <input name="x4" type="radio" value="yes">
        </td>
        <td>
          <input name="x4" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td>5. Is not liked very well by my friends.</td>
        <td>
          <input name="x5" type="radio" value="yes">
        </td>
        <td>
          <input name="x5" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td>6. Says I’m too involved in different activities.</td>
        <td>
          <input name="x6" type="radio" value="yes">
        </td>
        <td>
          <input name="x6" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td>7. Texts me or calls me all the time.</td>
        <td>
          <input name="x7" type="radio" value="yes">
        </td>
        <td>
          <input name="x7" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td>8. Thinks I spend too much time trying to look nice.</td>
        <td>
          <input name="x8" type="radio" value="yes">
        </td>
        <td>
          <input name="x8" type="radio" value="no">
        </td>
      </tr>
    
      <tr>
        <td>9. Gets extremely jealous or possessive.</td>
        <td>
          <input name="x9" type="radio" value="yes">
        </td>
        <td>
          <input name="x9" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td>10. Accuses me of flirting or cheating.</td>
        <td>
          <input name="x10" type="radio" value="yes">
        </td>
        <td>
          <input name="x10" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td>11. Constantly checks up on me or makes me check in.</td>
        <td>
          <input name="x11" type="radio" value="yes">
        </td>
        <td>
          <input name="x11" type="radio" value="no">
        </td>
      </tr>
    
      <tr>
        <td>12. Controls what I wear or how I look.</td>
        <td>
          <input name="x12" type="radio" value="yes">
        </td>
        <td>
          <input name="x12" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td>13. Tries to control what I do and who I see.</td>
          <td>
          <input name="x13" type="radio" value="yes">
        </td>
        <td>
          <input name="x13" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td>14. Tries to keep me from seeing or talking to my family and friends.</td>
        <td>
          <input name="x14" type="radio" value="yes">
        </td>
        <td>
          <input name="x14" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td>15. Has big mood swings, getting angry and yelling at me one minute but being sweet and apologetic the next.</td>
        <td>
          <input name="x15" type="radio" value="yes">
        </td>
        <td>
          <input name="x15" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td>16. Makes me feel nervous or like I’m “walking on eggshells.”</td>
        <td>
          <input name="x16" type="radio" value="yes">
        </td>
        <td>
          <input name="x16" type="radio" value="no">
        </td>
      </tr>
    
      <tr>
        <td>17. Puts me down, calls me names or criticizes me.</td>
        <td>
          <input name="x17" type="radio" value="yes">
        </td>
        <td>
          <input name="x17" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td>18. Makes me feel like I can’t do anything right or blames me for problems.</td>
        <td>
          <input name="x18" type="radio" value="yes">
        </td>
        <td>
          <input name="x18" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td>19. Makes me feel like no one else would want me.</td>
        <td>
          <input name="x19" type="radio" value="yes">
        </td>
        <td>
          <input name="x19" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td>20. Threatens to hurt me, my friends or family.</td>
        <td>
          <input name="x20" type="radio" value="yes">
        </td>
        <td>
          <input name="x20" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td>21. Threatens to hurt themselves because of me.</td>
        <td>
          <input name="x21" type="radio" value="yes">
        </td>
        <td>
          <input name="x21" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td>22. Threatens to destroy my things (Phone, clothes, laptop, car, etc.).</td>
        <td>
          <input name="x22" type="radio" value="yes">
        </td>
        <td>
          <input name="x22" type="radio" value="no">
        </td>
      </tr>
    
      <tr>
        <td>23. Grabs, pushes, shoves, chokes, punches, slaps, holds me down, throws things or hurts me in some way.</td>
        <td>
          <input name="x23" type="radio" value="yes">
        </td>
        <td>
          <input name="x23" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td>24. Breaks or throws things to intimidate me.</td>
        <td>
          <input name="x24" type="radio" value="yes">
        </td>
        <td>
          <input name="x24" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td>25. Yells, screams or humiliates me in front of other people.</td>
        <td>
          <input name="x25" type="radio" value="yes">
        </td>
        <td>
          <input name="x25" type="radio" value="no">
        </td>
      </tr>
      
      <tr>
        <td>26. Pressures or forces me into having sex or going farther than I want to.</td>
        <td>
          <input name="x26" type="radio" value="yes">
        </td>
        <td>
          <input name="x26" type="radio" value="no">
        </td>
      </tr>
    </tbody>
  </table>
  <p><input type="submit" value="Submit"></p>
</form>
<div>
  <br>
  <p>The questionnaire developed by <a href = "https://www.wadvocates.org/wp-content/uploads/2020/06/are-you-in-a-healthy-relationship-quiz.pdf">Women's advocates</p>
</div>


