<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Domestic Violence Project</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>

  <!-- Page content -->
  <body id="home" data-spy="scroll" data-target=".navbar" data-offset="100">
    <div class="container pt-4">
      <h1>Healthy Relationship Quiz</h1>
    </div>
    <div>
      <p>EVERYONE DESERVES TO BE IN A SAFE AND HEALTHY RELATIONSHIP. DO YOU KNOW IF YOUR RELATIONSHIP
      IS HEALTHY? ANSWER YES OR NO TO THE FOLLOWING QUESTIONS TO FIND OUT. MAKE SURE TO CHECK
      THE BOXES TO RECORD YOUR RESPONSES. AT THE END, YOU’LL FIND OUT HOW TO SCORE YOUR ANSWERS.
      </p>
    </div>
    <table>
      <thead>
        <tr>
          <th>THE PERSON I’M WITH</th>
          <th>Yes</th>
          <th>No</th>
        </tr>
      </thead>
      <tbody>
        <form>
          <tr>
            <td>1. Is very supportive of things that I do.</td>
            <td><input type="radio" name = "ans" value="yes"></input></td>
            <td><input type="radio" name = "ans" value="no"></input></td>
          </tr>
        </form>
        <form>
          <tr>
            <td>2. Encourages me to try new things.</td>
            <td><input type="radio" name = "ans" value="yes"></input></td>
            <td><input type="radio" name = "ans" value="no"></input></td>
          </tr>
        </form>
        <form>
          <tr>
            <td>3. Likes to listen when I have something on my mind.</td>
            <td><input type="radio" name = "ans" value="yes"></input></td>
            <td><input type="radio" name = "ans" value="no"></input></td>
          </tr>
        </form>
        <form>
          <tr>
            <td>4. Understands that I have my own life too.</td>
            <td><input type="radio" name = "ans" value="yes"></input></td>
            <td><input type="radio" name = "ans" value="no"></input></td>
          </tr>
        </form>  
        <form>
          <tr>
            <td>5. Is not liked very well by my friends.</td>
            <td><input type="radio" name = "ans" value="yes"></input></td>
            <td><input type="radio" name = "ans" value="no"></input></td>
          </tr>
        </form>
        <form>
          <tr>
            <td>6. Says I’m too involved in different activities.</td>
            <td><input type="radio" name = "ans" value="yes"></input></td>
            <td><input type="radio" name = "ans" value="no"></input></td>
          </tr>
        </form>
        <form>
          <tr>
            <td>7. Texts me or calls me all the time.</td>
            <td><input type="radio" name = "ans" value="yes"></input></td>
            <td><input type="radio" name = "ans" value="no"></input></td>
          </tr>
        </form>
        <form>
          <tr>
            <td>8. Thinks I spend too much time trying to look nice.</td>
            <td><input type="radio" name = "ans" value="yes"></input></td>
            <td><input type="radio" name = "ans" value="no"></input></td>
          </tr>
        </form>
        <form>
          <tr>
            <td>9. Gets extremely jealous or possessive.</td>
            <td><input type="radio" name = "ans" value="yes"></input></td>
            <td><input type="radio" name = "ans" value="no"></input></td>
          </tr>
        </form>
        <form>
          <tr>
            <td>10. Accuses me of flirting or cheating.</td>
            <td><input type="radio" name = "ans" value="yes"></input></td>
            <td><input type="radio" name = "ans" value="no"></input></td>
          </tr>
        </form>
        <form>
          <tr>
            <td>11. Constantly checks up on me or makes me check in.</td>
            <td><input type="radio" name = "ans" value="yes"></input></td>
            <td><input type="radio" name = "ans" value="no"></input></td>
          </tr>
        </form>
        <form>
          <tr>
            <td>12. Controls what I wear or how I look.</td>
            <td><input type="radio" name = "ans" value="yes"></input></td>
            <td><input type="radio" name = "ans" value="no"></input></td>
          </tr>
        </form>
        <form>
          <tr>
            <td>13. Tries to control what I do and who I see.</td>
            <td><input type="radio" name = "ans" value="yes"></input></td>
            <td><input type="radio" name = "ans" value="no"></input></td>
          </tr>
        </form>
        <form>
          <tr>
            <td>14. Tries to keep me from seeing or talking to my family and friends.</td>
            <td><input type="radio" name = "ans" value="yes"></input></td>
            <td><input type="radio" name = "ans" value="no"></input></td>
          </tr>
        </form>
        <form>
          <tr>
            <td>15. Has big mood swings, getting angry and yelling at me one minute but being sweet and apologetic the next.</td>
            <td><input type="radio" name = "ans" value="yes"></input></td>
            <td><input type="radio" name = "ans" value="no"></input></td>
          </tr>
        </form>
        <form>
          <tr>
            <td>16. Makes me feel nervous or like I’m “walking on eggshells.”</td>
            <td><input type="radio" name = "ans" value="yes"></input></td>
            <td><input type="radio" name = "ans" value="no"></input></td>
          </tr>
        </form>
        <form>
          <tr>
            <td>17. Puts me down, calls me names or criticizes me.</td>
            <td><input type="radio" name = "ans" value="yes"></input></td>
            <td><input type="radio" name = "ans" value="no"></input></td>
          </tr>
        </form>
        <form>
          <tr>
            <td>18. Makes me feel like I can’t do anything right or blames me for problems.</td>
            <td><input type="radio" name = "ans" value="yes"></input></td>
            <td><input type="radio" name = "ans" value="no"></input></td>
          </tr>
        </form>
        <form>
          <tr>
            <td>19. Makes me feel like no one else would want me.</td>
            <td><input type="radio" name = "ans" value="yes"></input></td>
            <td><input type="radio" name = "ans" value="no"></input></td>
          </tr>
        </form>
        <form>
          <tr>
            <td>20. Threatens to hurt me, my friends or family.</td>
            <td><input type="radio" name = "ans" value="yes"></input></td>
            <td><input type="radio" name = "ans" value="no"></input></td>
          </tr>
        </form>
        <form>
          <tr>
            <td>21. Threatens to hurt themselves because of me.</td>
            <td><input type="radio" name = "ans" value="yes"></input></td>
            <td><input type="radio" name = "ans" value="no"></input></td>
          </tr>
        </form>
        <form>
          <tr>
            <td>22. Threatens to destroy my things (Phone, clothes, laptop, car, etc.).</td>
            <td><input type="radio" name = "ans" value="yes"></input></td>
            <td><input type="radio" name = "ans" value="no"></input></td>
          </tr>
        </form>
        <form>
          <tr>
            <td>23. Grabs, pushes, shoves, chokes, punches, slaps, holds me down, throws things or hurts me in some way.</td>
            <td><input type="radio" name = "ans" value="yes"></input></td>
            <td><input type="radio" name = "ans" value="no"></input></td>
          </tr>
        </form>
        <form>
          <tr>
            <td>24. Breaks or throws things to intimidate me.</td>
            <td><input type="radio" name = "ans" value="yes"></input></td>
            <td><input type="radio" name = "ans" value="no"></input></td>
          </tr>
        </form>
        <form>
          <tr>
            <td>25. Yells, screams or humiliates me in front of other people.</td>
            <td><input type="radio" name = "ans" value="yes"></input></td>
            <td><input type="radio" name = "ans" value="no"></input></td>
          </tr>
        </form>
        <form>
          <tr>
            <td>26. Pressures or forces me into having sex or going farther than I want to.</td>
            <td><input type="radio" name = "ans" value="yes"></input></td>
            <td><input type="radio" name = "ans" value="no"></input></td>
          </tr>
          <tr>
            <td><input type="submit" value="Submit"></td>
          </tr>
        </form>
      </tbody>
    </table>
    <div>
    <p>The questionnaire developed by <a href = "https://www.wadvocates.org/wp-content/uploads/2020/06/are-you-in-a-healthy-relationship-quiz.pdf">Women's advocates</p>
    </div>
  </body>
</html>
