<h1>Editing Client</h1>

<%= render 'form', customer: @customer %>

<%= link_to 'Show', @customer, :class => "btn btn-primary btn-sm", :style => "color: white" %>
<%= link_to 'Back', customers_path, :class => "btn btn-primary btn-sm", :style => "color: white" %>
