<h1>Editing Orders</h1>

<%= render 'form', order: @order %>
 
<%= link_to 'Show', [@customer,@order], :class => "btn btn-primary btn-sm", :style => "color: white" %> 
<%= link_to 'Back', customer_path(@customer.id), :class => "btn btn-primary btn-sm", :style => "color: white" %>
<%# <%= link_to 'Back', customer_orders_path(@customer), :class => "btn btn-primary btn-sm", :style => "color: white" %> 