<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @order.description %>
</p>

<%= link_to 'Edit', edit_order_path(@order), :class => "btn btn-primary btn-sm", :style => "color: white" %>
<%= link_to 'Back', orders_path, :class => "btn btn-primary btn-sm", :style => "color: white" %>
