/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require social-share-button
 */
/* =================================
  Element Styles
==================================== */
@import 'bootstrap/dist/css/bootstrap';
a, a:link, a:visited, a:hover{
  text-decoration: none;
  color: #212529;
}
a.btn.callout-button{
  margin-top: 150px; 
  background-color: #563d7c; 
  color: #ffffff80; 
}
a.btn.callout-button:hover{
  color: #f0f0f0;
}

div.row{
  height: 100%;
}

  .carousel-item, .jumbo {
    max-height: 700px;
    width:  100%;
    height: 100%;
    margin-top: 15px;
    margin-bottom: 50px;
    object-fit: cover;
  } 

  .jumbo .img {
    max-height: 100px;
    max-width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 
  }

  table.table a{
    text-decoration: none;
  }
  .card{
    box-shadow: -webkit-box-shadow -19px 19px 43px 0px rgba(0,0,0,0.61);
    -moz-box-shadow: -19px 19px 43px 0px rgba(0,0,0,0.61);
    box-shadow: -19px 19px 43px 0px rgba(0,0,0,0.61);
  }

form input[type=submit]{
  display:inline-block;
  font-weight: 400;
  text-align: center;
  user-select: none;
  padding:5px 15px;
  background:transparent;
  border-color:#007bff;
  line-height: 1.5;
  font-size: 14px;
  padding: 4px 8px;
  color: #212529;
  text-shadow: none;
  border-radius: 3px;
  text-decoration: none;
  box-shadow: none;
}
form input[type=submit]:hover {
background:#007bff;
color: white;
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
form input[type=submit]:not(.disabled):hover,
form input[type=button]:not(.disabled):hover,
form button:not(.disabled):hover{
  background-color: #007bff;
  background-image: none;
}


@media only screen and (max-width: 1000px) {
    
  /* Force table to not be like tables anymore */
  div.table-responsive.card.mb-5 div#no-more-tables table, 
  div.table-responsive.card.mb-5 div#no-more-tables thead, 
  div.table-responsive.card.mb-5 div#no-more-tables tbody, 
  div.table-responsive.card.mb-5 div#no-more-tables th, 
  div.table-responsive.card.mb-5 div#no-more-tables td, 
div.table-responsive.card.mb-5 div#no-more-tables tr { 
  display: block; 
}

/* Hide table headers (but not display: none;, for accessibility) */
div.table-responsive.card.mb-5 div#no-more-tables thead tr { 
  position: absolute;
  top: -9999px;
  left: -9999px;
}

div.table-responsive.card.mb-5 div#no-more-tables tr { border: 1px solid #ccc; }

div.table-responsive.card.mb-5 div#no-more-tables td { 
  /* Behave  like a "row" */
  border: none;
  border-bottom: 1px solid #eee; 
  position: relative;
  padding-left: 50%; 
  white-space: normal;
  text-align:left;
}

div.table-responsive.card.mb-5 div#no-more-tables td:before { 
  /* Now like a table header */
  position: absolute;
  /* Top/left values mimic padding */
  top: 6px;
  left: 6px;
  width: 45%; 
  padding-right: 10px; 
  white-space: nowrap;
  text-align:left;
  font-weight: bold;
}

/*
Label the data
*/
div.table-responsive.card.mb-5 div#no-more-tables td:before { content: attr(data-title); }
}

.line {
  width: 100%;
  box-sizing: border-box;
}
.line figure {
   width: 45%;
   margin: 0;
   display: inline-block;
}
