      <!-- footer -->
      <div class="row py-3">
        <div class="col-md-7">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Our Community is our Strenght</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Other Help</a>
            </li>
            <li class="nav-item">
              <div class="btn-group dropup">
                <button type="button" class="btn btn-outline-secondary">Other Help</button>
                <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="http://www.bascia.org/">Bay Area Suicide and Crisis Intervention </a>
                  <a class="dropdown-item" href="https://baylegal.org/what-we-do/safety/domestic-violence-prevention/">Domestic Violence Legal Clinic</a>
                  <a class="dropdown-item" href="https://sfmohcd.org/resources-domestic-violence-survivors">Shelter for Domestic Violence Survivors</a>
                  <a class="dropdown-item" href="https://www.napanews.org/">Sexual Assault & Domestic Violence</a>
                  <a class="dropdown-item" href="https://kara-grief.org/">Coping with Grief</a>
                  <a class="dropdown-item" href="https://www.samhsa.gov/find-help/national-helpline">Substance Abuse Help</a>

                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md text-md-right">
          <small>&copy; 2020 Ruby on Rails Bootcamp &amp; CTD </small>
        </div>
      </div><!-- /footer -->
